<div class="about">
<h1>About page</h1>
	<p>This project is a demonstration of my knowledge in the field of front-end development using Bootstrap and Angular.js framework. I hope you find it useful and interesting for yourself. For any questions on the project, you can contact me (<a href="#/contact">see the Contact page</a>).</p>
	<p>This project has been implemented on the website - <a href="http://digit.co.nf" target="_blank">http://digit.co.nf</a></p>
	<p>My other projects you can see below, or <a href="https://github.com/SergeyPodgornyy" target="_blank">Fork me on Github</a>.</p>

	<about-tab></about-tab>

</div>