<div class="jumbotron row contact">
<h1>Contact page</h1><br>
<p class="col-md-3 col-sm-3 col-xs-3 col-xxs-12 box-sticker profile-image"><img src="http://grafo.in.ua/images/users/SergeyPodgornyy.jpg"></p>
<div class="col-md-8 col-sm-8 col-xs-8 navbar-right">
  <div id="main_info">
    <h3><strong>Sergey Podgornyy</strong></h3><br>
    <p>E-mail: sergey.podgornyy@yahoo.de</p>
    <p>Country: Ukraine</p>
    <p>Phone: +380964977353</p><br>
  </div>
  <div class="button-wrapper">
    <a href="mailto:sergey.podgornyy@yahoo.de?cc=info@grafo.in.ua&subject=Hi Sergey&body=Mail%20from%20DigitApp%20Web%20site%20http://digit.co.nf" class="a-btn">
      <span class="a-btn-text">Contact</span> 
      <span class="a-btn-slide-text">by email</span>
      <span class="a-btn-icon-right"><span></span></span>
    </a>
  </div>
</div>
<div class="separator"></div>
<div class="info">
  <h3><b>Achievements</b></h3><hr>
  <p>
    <img src="img/contact/img_1.png" alt="National Aviation University. Bachelor">
    <img src="img/contact/img_2.png" alt="National Aviation University. Master">
    <a href="http://university.mongodb.com/course_completion/d7c6a33b140d4d24b2e23b4bd2f401d0" target="_blank"><img src="img/contact/img_3.png" alt="MongoDB University - MongoDB for Node.js developers"></a>
  </p>
</div>
<div class="separator"></div>
<div class="info">
  <h3><b>General information</b></h3><hr>
  <p>Web developer with 2 years of experience as Freelancer in Front-End and Back-End development. Gained knowledges in use of modern technologies and implementation of Complex Solutions.</p>
  <p>Key strengths include understanding of the Web development and areas of its utilization, problem solving/analytical approach, analytic mind set. Currently programming for experience and fun</p>
  <p><b>If you have any questions, please don't hesitate to contact me!</b></p>
  <p>Please contact me on cell phone only for urgent inquiries. Otherwise send me an email, it will be the best way to reach me.</p><br>
  <p><b><u>Areas of expertise:</u></b> <em>Web-Design, Front-End Development, Adaptive and Cross-browser layout, Back-End development, managing projects, e-commerce, system administration.</em></p>
  <p><b><u>Specialisation:</u></b> <em>HTML5, CSS3, JavaScript, jQuery, JSON, AJAX, Bootstrap, Angular.js, PHP, XML, WordPress, Drupal, Symfony, Zend Framework, Node.js, MongoDB, MySQL, Git, Apache, GNU/Linux</em></p>
</div>
</div>