<div class="jumbotron row contact">
<h1>Contact page</h1><br>
<p class="col-md-3 col-sm-3 col-xs-3 col-xxs-12 box-sticker profile-image"><img src="http://grafo.in.ua/images/users/SergeyPodgornyy.jpg"></p>
<div class="col-md-8 col-sm-8 col-xs-8 navbar-right">
  <div id="main_info">
    <h3><strong>Sergey Podgornyy</strong></h3><br>
    <p>E-mail: sergey.podgornyy@yahoo.de</p>
    <p>Country: Ukraine</p>
    <p>Phone: +380964977353</p><br>
  </div>
  <div class="button-wrapper">
    <a href="mailto:sergey.podgornyy@yahoo.de?cc=info@grafo.in.ua&subject=Hi Sergey&body=Mail%20from%20DigitApp%20Web%20site%20http://digit.co.nf" class="a-btn">
      <span class="a-btn-text">Contact</span> 
      <span class="a-btn-slide-text">by email</span>
      <span class="a-btn-icon-right"><span></span></span>
    </a>
  </div>
</div>
<div class="separator"></div>
<div class="info">
  <h3><b>Achievements</b></h3><hr>
  <p>
    <img src="img/contact/img_1.png" alt="National Aviation University. Bachelor" data-toggle="modal" data-target="#m1">
    <img src="img/contact/img_2.png" alt="National Aviation University. Master"  data-toggle="modal" data-target="#m2">
    <img src="img/contact/img_3.png" alt="MongoDB University - MongoDB for Node.js developers" data-toggle="modal" data-target="#m3">
    <p class="hint"><em>Click on badges for detail overview.</em></p>



    <!-- 
    -----------------------------------------------
    DO NOT FORGET TO PUSH THE FOLLOWING MODAL ON SEPARATE DIRECTIVES
    -----------------------------------------------
     -->

                    <!-- Modal 1 -->
                    <div class="modal fade" id="m1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel1">Bachelor's Degree</h4>
                          </div>
                          <div class="modal-body">
                            <img src="img/contact/m1.jpg" alt="National Aviation University. Bachelor" class="img-responsive center-block img-thumbnail">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Modal 2 -->
                    <div class="modal fade" id="m2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel2">Master's Degree</h4>
                          </div>
                          <div class="modal-body">
                            <img src="img/contact/m2.jpg" alt="National Aviation University. Master" class="img-responsive center-block img-thumbnail">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-btn-danger" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Modal 2 -->
                    <div class="modal fade" id="m3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel3">Course Completion Confirmation</h4>
                          </div>
                          <div class="modal-body">
                            <img src="img/contact/m3.png" alt="National Aviation University. Master" class="img-responsive center-block img-thumbnail">
                            <br>
                            <p>You can find it in the following <a href="http://university.mongodb.com/course_completion/d7c6a33b140d4d24b2e23b4bd2f401d0" target="_blank">Link</a>.</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

    <!-- 
    ---------------------------------

    ---------------------------------
    -->

  </p>
</div>
<div class="separator"></div>
<div class="info">
  <h3><b>General information</b></h3><hr>
  <p>Web developer with 2 years of experience as Freelancer in Front-End and Back-End development. I am self-taught and adaptable programmer continually striving to improve and expand my skills. Gained knowledges in use of modern technologies and implementation of Complex Solutions. I am dynamic and like to travel to discover new cultures and new ways to work. Always interested in further education.</p>
  <p>Key strengths include understanding of the Web development and areas of its utilization, problem solving/analytical approach, analytic mind set. Currently programming for experience and fun.</p>
  <p><b>If you have any questions, please don't hesitate to contact me!</b></p>
  <p>Please contact me on cell phone only for urgent inquiries. Otherwise send me an email, it will be the best way to reach me.</p><br>
  <p><b><u>Areas of expertise:</u></b> <em>Web-Design, Front-End Development, Adaptive and Cross-browser layout, Back-End development, managing projects, e-commerce, system administration.</em></p>
  <p><b><u>Specialisation:</u></b> <em>HTML5, CSS3, JavaScript, jQuery, JSON, AJAX, Bootstrap, Angular.js, PHP, XML, WordPress, Drupal, Symfony, Zend Framework, Node.js, MongoDB, MySQL, Git, Apache, GNU/Linux.</em></p>
</div>
</div>