<div class="jumbotron row contact">
<h1>Contact page</h1><br>
<p class="col-md-3 col-sm-3 col-xs-3 col-xxs-12 box-sticker profile-image"><img src="http://grafo.in.ua/images/users/SergeyPodgornyy.jpg"></p>
<div class="col-md-8 col-sm-8 col-xs-8 navbar-right">
  <div id="main_info">
    <h3><strong>Sergey Podgornyy</strong></h3><br>
    <p>E-mail: sergey.podgornyy@yahoo.de</p>
    <p>Country: Ukraine</p>
    <p>Phone: +380964977353</p><br>
  </div>
  <div class="button-wrapper">
    <a href="mailto:sergey.podgornyy@yahoo.de?cc=info@grafo.in.ua&subject=Hi Sergey&body=Mail%20from%20DigitApp%20Web%20site%20http://digit.co.nf" class="a-btn">
      <span class="a-btn-text">Contact</span> 
      <span class="a-btn-slide-text">by email</span>
      <span class="a-btn-icon-right"><span></span></span>
    </a>
  </div>
</div>