<!DOCTYPE html>
<html lang="en" ng-app="digitApp">
<head>
	<meta charset="UTF-8">
	<title>Angular Digit App</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/app.css">
</head>
<body ng-controller="MainCtrl">

<div class="container">
<div class="row">
	<h3>{{title}}</h3>
	<input type="text" ng-model="query">
	<ul>
	  <li ng-repeat="phone in phoneItem = (phones | filter:{$:query, status:true})">
	    <span>{{phone.name}}</span>
	    <p>
	      {{phone.snippet}}<br>
	      Status: {{phone.status}}
	    </p>
	  </li>
	</ul>
	<p>Total phones: {{phoneItem.length}}</p>

<hr>

	<table>
		<thead>
			<tr>
				<th><a href="" ng-click="sort('name')">Names 
					<i class="glyphicon" ng-class="{'glyphicon-chevron-up': isSortUp('name'), 
												    'glyphicon-chevron-down': isSortDown('name')}"></i></a></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="phone in phones | orderBy:sortField:reverse">
				<td>{{phone.name}} - <em>{{phone.status}}</em></td>
			</tr>
		</tbody>
	</table>

</div>
</div>


	<!-- Angular.js core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="bower_components/angular/angular.js"></script>

	<!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>
</body>
</html>